*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --beige: #f5f0ec;
  --brown: #dcc1ab;
  --green: #1b5b31;
  --dark: #111111;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: var(--dark);
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h3 span {
  font-family: 'Inter', sans-serif;
}

.navbar {
  background-color: var(--beige);
}

.nav-link {
  color: var(--dark);
  font-size: 14px;
}

.nav-logo {
  position: relative;
  font-size: 18px;
}

.nav-logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7%;
  width: 0;
  background-color: var(--green);
  transition: width 0.5s;
}

.nav-logo:hover::after {
  width: 100%;
}

.nav-logo span {
  font-weight: bold;
}

.navbar-toggler {
  font-size: 20px;
  width: 60px;
  height: 40px;
}

.hidden-list {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: var(--beige);
}

.hidden-list .nav-item .nav-link{
  font-size: 20px;
}

.btn,
.card {
  border-radius: 20px;
}

.btn-search:hover,
.carousel-control .fa-solid:hover,
.hidden-list .nav-item:hover {
  transform: scale(1.5);
}

.intro {
  background-color: var(--brown);
}

.btn-show-projects a {
  text-decoration: none;
  color: var(--green);
}

.btn-show-projects a:hover {
  color: var(--beige);
}

.intro-right-section {
  position: relative;
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-control {
  height: 60px;
  width: 60px;
  border: none;
  color: var(--dark);
  background-color: var(--beige);
}

.offer {
  background-color: var(--beige);
}

.offer-icon {
  width: 35px;
  height: 35px;
}

.link-offset-3 {
  position: absolute;
  bottom: 20px;
}

.card {
  position: relative;
  min-height: 250px;
  border: none;
  transition: background-color 0.5s;
}

.card:hover {
  background-color: var(--brown);
}

.about {
  background-color: var(--green);
}

.about-left-side {
  overflow: hidden;
}

.about-box {
  color: var(--beige);
}

.btn-meet-us {
  width: 250px;
  padding: 10px;
}
.btn-meet-us:hover i {
  color: var(--green);
}

.projects {
  background-color: var(--brown);
}

.projects p {
  color: var(--green);
}

.grid-item {
  width: 100%;
  margin-bottom: 10px;
}

.grid-item img {
  width: 100%;
}

.follow {
  background-color: var(--beige);
}

.follow-box {
  color: var(--beige);
  background-color: var(--green);
}

.btn-instagram {
  color: var(--green);
  width: 120px;
}

.btn-contact {
  width: 200px;
}

.footer {
  position: relative;
  background-color: var(--dark);
  color: var(--beige);
}

.footer-middle a {
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about-left-side {
    height: 450px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .grid-item {
    width: 49%;
  }
}

@media (min-width: 992px) {
  .grid-item {
    width: 32%;
  }
}

@media (min-width: 0px) and (max-width: 992px) {
  .footer-right,
  .footer-left {
    align-items: center;
  }
}

@media (min-width: 992px) {
  .carousel-item img {
    min-height: 500px;
  }
  .follow-box {
    height: 350px;
  }
  .projects h2 {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 320px;
  }
  .follow-box {
    min-width: 50%;
  }
}
