*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}

ul {
  list-style: none;
}

a {
  color: black;
}

.navbar {
  background-color: #f5f0ec;
}

.nav-link {
  color: black;
  font-size: 14px;
}
.nav-logo {
  font-size: 18px;
}

.nav-logo span {
  font-weight: bold;
}

.navbar-toggler {
  font-size: 20px;
  width: 60px;
  height: 40px;
}

.hidden-list {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: #f5f0ec;
}

.btn,
.card {
  border-radius: 20px;
}

.btn-search:hover,
.carousel-control .fa-solid:hover,
.hidden-list .nav-item:hover {
  transform: scale(1.5);
}

.intro {
  background-color: #dcc1ab;
}

.intro-right-section {
  background-color: rgb(153, 0, 255);
  position: relative;
}

.carousel-item {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item img {
  height: 550px;
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-control {
  height: 60px;
  width: 60px;
  border: none;
  color: black;
  background-color: #f5f0ec;
}

.offer {
  background-color: #f5f0ec;
}

.offer-icon {
  width: 35px;
  height: 35px;
}

.card {
  position: relative;
  border: none;
  transition: background-color 0.5s;
}

.card:hover {
  background-color: #dcc1ab;
}

.about {
  background-color: #1b5b31;
}

.about-left-side {
  overflow: hidden;
}

.about-box {
  color: rgb(238, 238, 238);
}

.btn-meet-us {
  width: 250px;
  padding: 10px;
}
.btn-meet-us:hover i{
  color: #1b5b31;
}

.projects {
  height: 800px;
  background-color: #dcc1ab;
}

.follow {
  height: 400px;
  background-color: #f5f0ec;
}

.follow-box{
  color: #f5f0ec;
  background-color: #1b5b31;
  height: 75%;
  width: 70%;
}


.btn-instagram{
  color: #1b5b31;
}


.footer {
  background-color: #111111;
}

.footer-middle a{
  text-decoration: none;
}




@media (min-width: 280px) and (max-width: 500px) {
  .carousel-item img {
    height: 350px;
  }

  .about-left-side{
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .carousel-item img {
    height: 800px;
  }

  .card {
    height: 320px;
  }

  .link-offset-3 {
    position: absolute;
    bottom: 20px;
  }
}
