*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.navbar {
  background-color: #f5f0ec;
}

.nav-link {
  color: black;
  font-size: 14px;
}
.nav-logo {
  font-size: 18px;
}

.nav-logo span {
  font-weight: bold;
}

.navbar-toggler{
  font-size: 20px;
  width: 60px;
  height: 40px;
}

.hidden-list{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: #f5f0ec;
}


.btn{
  border-radius: 15px;
}

.btn-search:hover, .carousel-control .fa-solid:hover, .hidden-list .nav-item:hover {
  transform: scale(1.5);
}

.intro {
  height: 737px;
  background-color: #dcc1ab;
}

.intro-right-section {
  background-color: rgb(153, 0, 255);
  position: relative;
}

.carousel-item img {
  height: 737px;
  width: 100%;
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-control {
  height: 60px;
  width: 60px;
  border: none;
  color: black;
  background-color: #f5f0ec;
}

.offer {
  height: 939px;
  background-color: #f5f0ec;
}

.about {
  height: 720px;
  background-color: #1b5b31;
}

.projects {
  height: 1824px;
  background-color: #dcc1ab;
}

.follow {
  height: 478px;
  background-color: #f5f0ec;
}

.footer {
  height: 399px;
  background-color: #111111;
}
